.fourth_section_container{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.blue_container{
    display: flex;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

.call_to_action_wrapper, .sign_up_button_wrapper{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.call_to_action_button {
    border: solid white;
    margin-top: 10px;
}